*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
p{
    display: block;

}
body{
    background: #f5f5f5;
}

/* menu css */
.menu{
    position: fixed;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}   
.expand-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    /* justify-content: center; */
    padding: 250px 0;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}
#expand-menu{
    font-weight: bold;
    font-size: 40px;
    display: none;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 0 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    align-content: center;
    justify-content: center;
    /* transition: 0.5s; */
}
.menu-item{
    font-size: 40px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}
.menu-item-title{
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}
.menu-item-title:hover{
    text-shadow: #666 0px 0px 10px;
    transition: 0.2s;
}
.menu-item-desc{
    /* display:none; */
    font-size: 20px;
}



/* game css */
#current-player{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.cpred{
    box-shadow: #f66 0 0 10px;
}
.cpblue{
    box-shadow: #66f 0 0 10px;
}
.game{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board{
    width: 700px;
    height: 700px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.game-board-row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board-cell{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    cursor: pointer; 
    border: 2px solid #ccc; 
    font-size: 10rem;
}
.xw{
    background: #faa;
}
.ow{
    background: #aaf;
}
.x-cell{
    color: #f66;
}
.o-cell{
    color: #66f;

}
.gbcr:hover{
    background: #fcc;
    transition: 0.2s;
}
.gbcb:hover{
    background: #ccf;
    transition: 0.2s;
}

#winner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
    font-size: 50px;
}